*{
    margin: 0;
    padding: 0;
    /* background-color: lightseagreen; */
}
.navbar{
    height: 75px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
}

.nav-left span{
     font-size: 35px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 70px;
    font-size: 22px;
}    

.nav-left ul li{
    list-style: none;
    padding: 0px 15px;
}
.nav-left a{
    text-decoration: none;
}
.nav-left a:hover{
    background-color: black;
    color: white;
    transition: all 0.2s ease-in;
}

.form-input{
    padding: 6px 5px;
    margin: 0 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 8px;
}
.btn{
    padding: 3px 7px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 8px;  
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.btn:hover{
    color: white;
    background-color: black;
}


/* Now we will style 'content' */
.content{
    height: 410px;
    /* background-color: lightsalmon; */
    display: flex;
    margin-top: 10px;
}

.content::after{
    content: "";
    background-color: yellow;
    opacity: 0.2;
    /* background-image: url('../img/home.jpg'); */
    position: absolute;
    width: 81%;
    height: inherit;
}

.content-left{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.content-left h1{
    padding-bottom: 10px;
}
.content-left p{
    font-size: 20px;
}

.content-right{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 150px;
}


/* After horizontal line  */
.home-articles{
    /* height: 450px; */
    background-color: wheat;
    margin-top: 20px;
    padding-top: 20px;
   
}
.home-article{
    display: flex;
    margin: 30px;
}
.home-article img{
    width: 200px;
    border: 2px solid black;
}
.home-article-content{
    align-self: center;
    padding: 0 30px;
}
